
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px auto;
  background-color: #f5f5f5;
  margin-left: 30px;

}
.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  margin-top: 16px;
  background: white;
  margin-right: 100px;
}
.row {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
img {
  max-width: 260px;
  border-radius: 10px;
  border: 1px solid #eee;
}
label {
  display: block;
  margin-top: 10px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
button {
  margin-top: 14px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
small {
  color: #666;
}
a {
  text-decoration: none;
}
